[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "andurinha"]
	path = andurinha
	url = https://github.com/noemiallefs/andurinha
